html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: url('./../public/blurry_blue_background_iii-wallpaper-2048x1152.jpg');
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
