.nav {
    height: 70px;
    padding: 10px;
    background: #2D373C;
    color: rgb(213, 252, 255);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family:monospace;
  }
  
  .nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
  
  .nav ul li {
    margin: 5px 20px;

  }

  .nav ul li a i {
  position: relative; 
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 63px;
  font-size: 18px;
  color: rgb(213, 252, 255);
  transition: .5s;
  font-style:normal;
}

.nav ul li span {
  color: rgb(213, 252, 255);
  margin: 0 0 0 auto;
}

.nav ul li a:hover {
  color: #43b0d1;
  text-shadow: 0 0 5px #39a0c0
  ;
}