.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
    margin: auto;
    justify-content: space-between;
}

.header {
    h1 {
        color: #fff;
    }

    margin-top: 50px;
}